@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Nunito',sans-serif;
}
body,html{
    height:100%;
}
nav{
    padding:30px;
    display: flex;
    align-items:center;
}
.circle{
    width:25px;
    height:25px;
    border:2px solid salmon;
    border-radius:100%;
}
nav h1{
    margin-left:5px;
    font-size:1.0em;
}
.background{
    background-image: url('../test.jpg');
    background-repeat:no-repeat;
    background-position: top;
    background-size: cover;
    width:100%;
    height:200px;
    margin-bottom:150px;
}
main{
    height:100%;
    display:flex;
    height:100%;
    padding:0 60px;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
main h1{
    text-align:center;
    font-size:2.5em;
    letter-spacing: 13px;
    text-transform: uppercase;
    font-weight:200;
    line-height:50px;
}
h1 span{
    color:salmon;
    font-weight:100;
}
main p{
    margin:50px 0;
    color:salmon;
    font-weight:500;
    line-height:30px;
}
section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section input{
    width:100%;
    padding:20px 18px;
    border-radius: 30px;
    outline:none;
    border:1px solid salmon;
}
section button{
    position:relative;
    top:20px;
    width:70%;
    padding:20px 10px;
    border-radius: 30px;
    outline:none;
    border:1px solid salmon;
    background-image:linear-gradient(to right, salmon,rgb(212, 105, 93));
    color:#ffff;
    font-weight:700;
}
section p{
    margin-top:25px;
}
p.green{
    color:green;
}
p.red{
    color:red;
}